@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  body{
    @apply bg-black;
  }
  *{
    @apply m-0 p-0 box-border;
  }
  .main-container{
    @apply relative max-w-[100vw] overflow-hidden h-[100vh] ;
  }
  .background{
    @apply z-[-1] absolute max-h-[100vh] grid grid-cols-3 gap-[2rem];
  }
  .background img{
    @apply h-[20rem];
  }
  .app{
    @apply z-[1] bg-[#040614d9] h-[100vh] w-[100vw] backdrop-blur-[50px] border border-[#1714145e] grid grid-rows-[10vh,auto,10vh] grid-cols-1;
    -webkit-backdrop-filter: blur(50px);
  }
  .choose:nth-child(1) {
    transition-duration: 0.4s;
  } 

  .choose:nth-child(2) {
    transition-duration: 0.6s;
  }
  .image{
    filter: drop-shadow(20px 5px 3px #14121281);
  }
  .input{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 10px;
  }
  .input::-webkit-input-placeholder{
    color:rgba(255,255,255,0.779)
  }
}
@layer components{
  :root {
    --underline-height: 4px;
    --transition-duration: 0.5s;
  }
  
  .indicate {
    z-index: 10;
    height: calc(var(--underline-height) / 2);
    mix-blend-mode: initial;
  }
  
  .indicate {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 20%;
    background-color: var(--accent-color);
    pointer-events: none;
    transition: transform var(--transition-duration) ease-in-out;
  
   
  }
  .indicate:nth-child(1) {
    transition: calc(var(--transition-duration) * 0.8);
  }
  .indicate:nth-child(2) {
    transition: calc(var(--transition-duration) * 1.2);
  }
}

*::-webkit-scrollbar{
  background-color: transparent;
  width: 0.4rem;
}
*::-webkit-scrollbar-thumb{
  @apply rounded-lg hover:bg-white/80;
  background-color: rgba(219,219,219,0.557);
}